.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.color-dropper-icon {
  margin-bottom: 20px;
  cursor: pointer;
}

.color-dropper-icon img {
  width: 30px;
  height: 30px;
}

.picked-color {
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
}

.image-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
